<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All blog posts</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="flex flex-col h-screen justify-between bg-gray-100 font-sans antialiased">
    <nav class="bg-blue-900 p-4 text-white flex justify-between">
        <div>
        <a href="/">
         <h1 class="text-3xl font-bold text-center"> 
            AI Blog Generator
         </h1>
        </a>
        </div>
        <div>
            <p class="mx-4"> Welcome, {{ user.username }}</p>
            <a href="/" class="ml-4 text-white hover:underline mx-4 hover:cursor-pointer">Home</a>
            <a href="blog-list" class="ml-4 text-white hover:underline mx-4 hover:cursor-pointer">My Blogs</a>
            <a href="logout" class="text-white hover:underline hover:cursor-pointer">Logout</a>
        </div>
    </nav>

    <div class="container mx-auto px-4 mt-10 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow">
            <section>
                <h2 class="text-2xl p-4 font-semibold">All your blog posts</h2>
                <div class="space-y-4">
                    {% for blog in blogs %}
                    <a href="blog-details/{{ blog.pk }}/">
                    <div class="border border-gray-300 p-4 rounded-lg">
                        <h3 class="text-lg font-semibold">{{ blog.youtube_title }}</h3>
                        <p>{{ blog.content|truncatechars:100 }}</p>
                    </div>
                     </a>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>





     <footer class="bg-blue-900 text-white text-center p-4 mt-10">
        Powered by <a href="https://github.com/omarfawzy90" class="hover:underline text-blue-300">Omar Fawzy</a>
    </footer>

</body>
</html>